@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,240;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,240;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* Start of the reusable */
ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* End of the reusable */


/* Start of the header  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5%;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #E2E4DE;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo_span {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    border: 1px solid #e7c2c7;
    border-radius: 4px;
    padding: 2px 7px;
    background-color: #f9ecee;
    color: #a51c30;
}

.logo_link {
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 700;
    color: #1f2421;
}

.nav_list {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav_link {
    /* display: block; */
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 500;
    color: #5c6460;
    transition: 0.4s;
    padding: 0.5rem 0;
}

.nav_link:hover {
    color: #1f2421;
}

.nav_link.active {
    color: #1f2421;
    border-bottom: 3px solid #a51c30;
}

.line {
    position: sticky;
    top: 5.1rem;
    border: 2px solid #a51c30;
}
/* End of the header  */


/* Start of the title section */
.title_container {
    display: grid;
    grid-template-columns: repeat(1fr, 1);
    text-align: center;
    gap: 2rem;
    padding: 2rem;
    background-color: #fbfbf8;
}

.title_span {
    color: #a51c30;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 2rem;
}

.page_title {
    font-weight: 700;
    color: #1F2421;
    font-size: 3rem;
}

.page_subtitle {
    font-size: 1rem;
    color: #5c6460;
}

.project_notice {
    border: 1px solid #E2E4DE;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    border-radius: 4rem;
    text-transform: capitalize;
    color: #5c6460;
    max-width: fit-content;
    margin: 0 auto;
}

.project_notice strong {
    font-weight: bolder;
    color: #1f2421;
}

/* End of the title section */

/* Start of the main  */

/* End of the main */


/* Start of the footer */
footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 5%;
    border-top: 1px solid #E2E4DE;
    background: #ffffff;
}

/* Start of the top group */
.top_group {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 3rem;
    padding: 2rem 0;
}

.top_footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer_title {
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 700;
    color: #1F2421;
}

.footer_paragraph {
    font-size: 0.8rem;
    color: #5c6460;
}

.footer_paragraph strong {
    font-weight: bolder;
    color: #5c6460;
}

.footer_list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer_link {
    color: #5c6460;
    font-size: 0.8rem;
    transition: 0.4s;
}

.footer_link:hover {
    color: #a51c30;
}

/* End of the top group */

/* Start of the bottom group */
.bottom_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 0;
    border-top: 1px solid #E2E4DE;
}

.footer_span {
    color: #5c6460;
    font-size: 0.8rem;
}

/* End of the bottom group */
/* End of the footer */