@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,240;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,240;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 16px #0002;
    padding: 1rem;
}

.logo_image {
    width: 80px;
    height: 80px;
}

.logo_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu_list {
    display: flex;
    gap: 1rem;
}

.menu_link {
    text-transform: capitalize;
    color: #000;
    background-color: #f0f0f0;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: 0.4s;
}

.menu_link:hover {
    color: #ffffff;
    background-color: #000;
}

.search_form {
    display: flex;
    gap: 0.5rem;
}

.search_box {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #333;
    border-radius: 8px;
    outline: none;
    background-color: #ffffff;
    color: #000;
    transition: 0.4s;
}

.search_button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
}


.search_button:hover, .search_box:hover{
    background-color: #f0f0f0;
    color: #000;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7,
.item8,
.item9,
.item10,
.item11,
.item12,
.item13,
.item14,
.item15,
.item16,
.item17,
.item18,
.item19 {
    width: 250px;
    aspect-ratio: 1 / 1;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.2s ease;
}

.item1:hover,
.item2:hover,
.item3:hover,
.item4:hover,
.item5:hover,
.item6:hover,
.item7:hover,
.item8:hover,
.item9:hover,
.item10:hover,
.item11:hover,
.item12:hover,
.item13:hover,
.item14:hover,
.item15:hover,
.item16:hover,
.item17:hover,
.item18:hover,
.item19:hover {
    transform: scale(1.05);
}

.item1 a,
.item2 a,
.item3 a,
.item4 a,
.item5 a,
.item6 a,
.item7 a,
.item8 a,
.item9 a,
.item10 a,
.item11 a,
.item12 a,
.item13 a,
.item14 a,
.item15 a,
.item16 a,
.item17 a,
.item18 a,
.item19 a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.item1 img,
.item2 img,
.item3 img,
.item4 img,
.item5 img,
.item6 img,
.item7 img,
.item8 img,
.item9 img,
.item10 img,
.item11 img,
.item12 img,
.item13 img,
.item14 img,
.item15 img,
.item16 img,
.item17 img,
.item18 img,
.item19 img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    display: block;
}

.item1 p,
.item2 p,
.item3 p,
.item4 p,
.item5 p,
.item6 p,
.item7 p,
.item8 p,
.item9 p,
.item10 p,
.item11 p,
.item12 p,
.item13 p,
.item14 p,
.item15 p,
.item16 p,
.item17 p,
.item18 p,
.item19 p {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 -8px 16px #0002;
}

.flogo {
    margin: 0.5rem 1rem;
}

.fmenu {
    margin: 0 1rem 0.2rem 1rem;
}


.flogo_image {
    width: 24px;
    height: 24px;
}

.flogo_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

p {
    color: #000;
    font-size: 12px;
}

.fnav_list {
    display: flex;
    gap: 1rem;
}

.fnav_link {
    color: #000;
    font-size: 12px;
    text-transform: capitalize;
    background-color: #f0f0f0;
    padding: 0.125rem 0.25rem;
    border-radius: 8px;
    transition: 0.4s;
}

.fnav_link:hover {
    color: #ffffff;
    background-color: #000;
}