@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,240;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,240;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 16px #0002;
    padding: 1rem;
}

.logo_image {
    width: 80px;
    height: 80px;
}

.logo_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu_list {
    display: flex;
    gap: 1rem;
}

.menu_link {
    text-transform: capitalize;
    color: #000;
    background-color: #f0f0f0;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: 0.4s;
}

.menu_link:hover {
    color: #ffffff;
    background-color: #000;
}

.search_form {
    display: flex;
    gap: 0.5rem;
}

.search_box {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #333;
    border-radius: 8px;
    outline: none;
    background-color: #ffffff;
    color: #000;
    transition: 0.4s;
}

.search_button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
}


.search_button:hover,
.search_box:hover {
    background-color: #f0f0f0;
    color: #000;
}



main {
    padding: 1rem;
}

.intro_heading {
    text-align: center;
    padding: 1rem 0;
}

.intro_paragraph {
    text-align: justify;
    font-size: 1rem;
    padding: 1rem 0;
}

.course {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 1rem;
}

.course_item {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    box-shadow: 0 8px 16px #0002;
    border-radius: 8px;
    transition: 0.4s;
}

.course_item:hover {
    transform: scale(1.05);
}

figure {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.course_img {
    height: 100%;
    width: 100%;
    outline: none;
}

figcaption {
    height: 10%;
    width: 100%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 -8px 16px #0002;
}

.flogo {
    margin: 0.5rem 1rem;
}

.fmenu {
    margin: 0 1rem 0.2rem 1rem;
}


.flogo_image {
    width: 24px;
    height: 24px;
}

.flogo_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

p {
    color: #000;
    font-size: 12px;
}

.fnav_list {
    display: flex;
    gap: 1rem;
}

.fnav_link {
    color: #000;
    font-size: 12px;
    text-transform: capitalize;
    background-color: #f0f0f0;
    padding: 0.125rem 0.25rem;
    border-radius: 8px;
    transition: 0.4s;
}

.fnav_link:hover {
    color: #ffffff;
    background-color: #000;
}